#block-instagram-scrape-insta-scrape .content {
  overflow: hidden;
}

.instagram-row {
  float: left;
  position: relative;
  overflow: hidden;
  margin:0 1% -7px 1%;
}

.instagram-row.column-1 {
  width: 98%;
}

.instagram-row.column-2 {
  width: 48%;
}

.instagram-row.column-3 {
  width: 31.3333%;
}

.instagram-row.column-4 {
  width: 23%;
}

.instagram-row.column-5 {
  width: 18%;
}

.instagram-row.column-6 {
  width: 14.6666%;
}

.instagram-row.column-7 {
  width: 12.2857%;
}

.instagram-row.column-8 {
  width: 10.5%;
}

.instagram-row.column-9 {
  width: 9.1111%;
}

.instagram-row.column-10 {
  width: 8%;
}

.instagram-row.column-11 {
  width: 7.0909%;
}

.instagram-row.column-12 {
  width: 6.3333%;
}

.instagram-row:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.instagram-row:hover:before {
  opacity: 1;
}

.instagram-row img {
  width: 100%;
}

.instagram-row:before,
.instagram-row span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.instagram-row span.caption {
  position: absolute;
  bottom: -100%;
  left: 0px;
  width: 96%;
  padding: 2%;
  background: rgba(0,0,0,0.5);
  color:#fff;
  font-size:13px;
  line-height:16px;
  opacity: 0;
}

.instagram-row:hover span.caption {
  bottom: 7px;
  opacity: 1;
}

.instagram-row span.stats {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0px;
  width: 100%;
  text-align: center;
  color:#fff;
}

.instagram-row span.stats > span {
  position: relative;
  width: 40px;
  font-weight: bold;
  padding-left: 25px;
  margin-right: 10px;
  opacity: 0;
}

.instagram-row:hover span.stats > span {
  opacity: 1;
}

.instagram-row span.stats > span > span {
  background-image: url(instagram_scrape.png);
  background-repeat: no-repeat;
  height: 19px;
  width: 19px;
  text-indent: -99999px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.instagram-row.image span.likes > span {
  background-position: 0px 0px;
}

.instagram-row.video span.likes > span {
  background-position: -22px 0px;
}

.instagram-row span.comments > span {
  background-position: -42px 0px;
}
